{% extends 'base.html' %}
{% load ratings %}

{% block content %}

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{ book.image.url }}">
                            {#                            <div class="comment"><i class="fa fa-comments"></i> 11</div>#}
                            {#                            <div class="view"><i class="fa fa-eye"></i> 9141</div>#}
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ book.title }}</h3>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    {% ratings book %}
                                </div>
                            </div>
                            <p></p>


                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li>Author: {{ book.author }}</li>
                                            <li>Genre: {{ book.genre }}</li>
                                        </ul>

                                    </div>
                                    <div class="book-description">
                                        <h6>Description:</h6>
                                        <p>{{ book.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                {% if user.is_superuser %}

                                    <a href="{% url 'delete book' book.id %}" class="follow-btn"> Delete</a>

                                    <a href=" {% url "edit book"  book.id %}" class="follow-btn"><span>Edit</span></a>
                                {% endif %}
                                <form method="POST" class="book-details-form">
                                    {% csrf_token %}
                                    {{ form }}

                                    <button type="submit" class="watch-btn"><span>Add</span> <i
                                            class="fa fa-angle-right"></i></button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#            <div class="row">#}
            {#                <div class="col-lg-8 col-md-8">#}
            {#                    <div class="anime__details__review">#}
            {#                        <div class="section-title">#}
            {#                            <h5>Reviews</h5>#}
            {#                        </div>#}
            {#                        <div class="anime__review__item">#}
            {#                            <div class="anime__review__item__pic">#}
            {#                                <img src="img/anime/review-1.jpg" alt="">#}
            {#                            </div>#}
            {#                            <div class="anime__review__item__text">#}
            {#                                <h6>Chris Curry - <span>1 Hour ago</span></h6>#}
            {#                                <p>whachikan Just noticed that someone categorized this as belonging to the genre#}
            {#                                    "demons" LOL</p>#}
            {#                            </div>#}
            {#                        </div>#}
            {##}
            {#                    <div class="anime__details__form">#}
            {#                        <div class="section-title">#}
            {#                            <h5>Your Comment</h5>#}
            {#                        </div>#}
            {#                        <form action="#">#}
            {#                            <textarea placeholder="Your Comment"></textarea>#}
            {#                            <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>#}
            {#                        </form>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
        </div>
    </section>
    <!-- Anime Section End -->


{% endblock %}