<h2>Hello</h2>

{#{% extends 'base.html' %}#}
{##}
{##}
{#{% block title %} | Search Result {% endblock %}#}
{#{% block content %}#}
{#{% load humanize %}#}
{#<!-- Banner start -->#}
{#<div class="sub-banner overview-bgi">#}
{#    <div class="container breadcrumb-area">#}
{#        <div class="breadcrumb-areas">#}
{#            <h1>Search Results</h1>#}
{#            <ul class="breadcrumbs">#}
{#                <li><a href="index.html">Home</a></li>#}
{#                <li class="active">Search</li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#{% endblock %}#}
