{% extends 'base.html' %}
{% block content %}

    <!-- Profile Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{profile.profile_image.url}} ">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                            </div>

                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>First Name:</span> {{ profile.first_name }}</li>
                                            <li><span>Last Name:</span> {{ profile.last_name }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="{% url 'delete profile' profile.id %}" class="follow-btn">Delete</a>
                                <a href="{% url 'edit profile' profile.id %}" class="follow-btn"><span>Edit</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Profile Section End -->


{% endblock %}